@font-face {
    font-family: Inconsolata;
    src: url('/global/fonts/Inconsolata-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Inconsolata Bold;
    src: url('/global/fonts/Inconsolata-Bold.ttf');
    font-weight: bold;
}

html {
    font-family: Inconsolata;
    color: black;
    text-align: center;
}