<div class="nav-inner">
    <a class="nav-logo" data-route="home">
        <img alt="SOURCE ry logo" class="nav-logo-image" src="/resources/images/source-logo-192p.png" />
    </a>
    <div class="nav-links">
        <a class="nav-trigger" data-route="partners" data-translate="partners"></a>
        <a class="nav-trigger" data-route="events" data-translate="events"></a>
        <a class="nav-trigger" data-route="titelan" data-translate="titelan"></a>
        <a class="nav-trigger" data-route="students" data-translate="students"></a>
        <a class="nav-trigger" data-route="about" data-translate="about"></a>
        <a class="nav-trigger" data-route="contact" data-translate="contact"></a>
    </div>
    <div class="nav-right">
        <button class="nav-lang-button" id="lang-button" type="button" data-translate="langButton"></button>
        <div class="nav-hamburger" id="nav-hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</div>